.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
__pycache__/traintest.cpython-311.pyc
__pycache__/traintest.cpython-311.pyc
__pycache__/skip_kernel_extension.cpython-311.pyc
__pycache__/traintest.cpython-311.pyc
__pycache__/plot_utils.cpython-311.pyc
__pycache__/traintest.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/traintest.cpython-311.pyc
__pycache__/models.cpython-311.pyc
__pycache__/traintest.cpython-311.pyc
__pycache__/models.cpython-311.pyc
/__pycache__
*.pyc
rbf_layer/__pycache__/__init__.cpython-311.pyc
